{% extends "base.html" %}

{% block content %}

<div class="container justify-content-center">
    <div class="card py-3">
        <div class="card-body">
            <h2 class="card-title">Edit {{ invoice.number }}</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning" type="submit">Save changes</button>
            </form>
        </div>
    </div>

    {% for invoice_product in invoice_products %}
    <div class="card my-2 d-flex justify-content-around">
        <div class="card-body">
            <h4 class="card-title">{{ invoice_product.product.name }}</h4>
            <h5 class="card-title">Quantity: {{ invoice_product.quantity }}</h5>
            <h6 class="card-text">Price: {{ invoice_product.partial_price}}{{ invoice.currency }}</h6>
            <a class="btn btn-danger" role="button" href="/invoices/delete/{{ invoice.slug }}/{{ invoice_product.slug }}">Delete Position</a>
        </div>
    </div>
    {% endfor %}

</div>

<h2 class="card-text">Total: {{ invoice.total_price }}{{ invoice.currency }}</h2>

<a class="btn btn-success my-3" role="button" href="/invoices/add-to/{{invoice.slug }}">Add products</a>
<a class="btn btn-danger" role="button" href="/invoices/delete/{{invoice.slug }}">Delete Invoice</a>

{% endblock content %}